<ul>
	<li>1.12.0.0
	<ul>
		<li><font color="red">Switched to static building. Less DLLs are required : https://github.com/FlorentUguet/QBooru/raw/master/builds/archive/core_dll.zip</font></li>
		<li><font color="red">Updater now included into the Viewer</font></li>
	</ul>
	</li>
    &nbsp;
	<li>1.11.0.0
	<ul>
		<li><font color="red">Please go to https://github.com/FlorentUguet/QBooru/raw/master/builds/archive/Qt%205.5/Qt%205.5.zip to download the required DLLs for that version</font></li>
		<li>Built under Qt 5.5</li>
		<li>Lots of small fixes</li>
	</ul>
	</li>
    &nbsp;
	<li>1.10.5.1
	<ul>
		<li>Fixed a bug where the full URL of Gelbooru pictures wasn't found</li>
	</ul>
	</li>
	<li>1.10.5
	<ul>
		<li>Picture-downloading functions are now in the BooruImage class</li>
		<li>Search funcs merged in BooruSearchEngine class</li>
	</ul>
	</li>
    &nbsp;
	<li>1.10.3
	<ul>
		<li>Added a list of preset boorus</li>
		<li>Some fixes regarding the main fuctions</li>
	</ul>
	</li>
    &nbsp;
	<li>1.10.0
	<ul>
		<li>All SDL functions removed</li>
		<li>SDL.dll and SDL_image.dll removed from latest builds</li>
	</ul>
	</li>
    &nbsp;
	<li>1.9.0
	<ul>
		<li><font color="red">Gelbooru API changed from XML to JSON</font></li>
		<li><font color="red">You need to change the Gelbooru sites' settings with the following instructions, or refer to "search_file_path" and "search_url" in https://github.com/FlorentUguet/QBooru/releases/download/v1.9.0/configuration.json</font></li>
		<li><font color="orange">Please change in your Gelbooru based website settings the search File extensions from XML to JSON</font></li>
		<li><font color="orange">Please add to the search URL in your Gelbooru based website settings the term "&json=1"</font></li>
	</ul>
	</li>
    &nbsp;
	<li>1.8.0
	<ul>
		<li>New updater</li>
		<li>Lots of fixes on Gelbooru</li>
		<li>Some fixes on the threaded parts</li>
		<li>Lots of getter/setter fixes</li>
	</ul>
	</li>
    &nbsp;
    <li>1.7.4
	<ul>
		<li>Threaded everything</li>
		<li>Unified Boorus</li>
		<li>Fixed all Danbooru issues</li>
		<li>Cleaned up log outputs</li>
		<li>Changed output method for caching</li>
	</ul>
	</li>
    &nbsp;
	<li>1.5.0
	<ul>
		<li>Added Danbooru support</li>
		<li>Lots of variable cleaning, enhancements with std::string</li>
	</ul>
	</li>
    &nbsp;
	<li>1.4.0
	<ul>
		<li>Log behaviour enhanced</li>
		<li>You can know define a default search rating</li>
	</ul>
	</li>
    &nbsp;
	<li>1.3.0
	<ul>
		<li>Built under Qt 5.3</li>
		<li>Added a check that generates a default config file if needed</li>
	</ul>
	</li>
	<li>1.2.0
	<ul>
		<li>Started a new fully modulable way of adding Boorus</li>
		<li>Lots of adds in Configuration files</li>
		<li>More complete program log</li>
	</ul>
	</li>
    &nbsp;
	<li>1.1.0
	<ul>
		<li>Added proper config file</li>
		<li>Added proper log file</li>
		<li>More complete program log</li>
		<li>Better layout on search page</li>
		<li>Viewer now adapt the medium preview with the window's size</li>
		<li>Arrow keys support on Viewer Tab</li>
	</ul>
	</li>
    &nbsp;
	<li>1.0.0
	<ul>
		<li>App is now QBooru :D</li>
		<li>Completely reworked code. Went from QT Designer to code for UI</li>
		<li>Added a fullscreen viewer on the Viewer Tab</li>
		<li>Lightened the UI and the loading times</li>
	</ul>
	</li>
</ul>
